.board_note{
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.board_note_container{
  width: 60vw;
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid #ccc;
  padding-left: 5px;
}

.deletepopuptrue{
  background-color:rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vmax;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deletepopupfalse{
  display: none;
}

.boardnotemyreplybuttonlink{
  margin-right: auto;
}

.edit_delete_button_none{
  display: none;
}